
@import "_about.scss";

@import "_amaniServices.scss";
@import "_contact.scss";
@import "_faq.scss";
@import "_footer.scss";
@import "_hero.scss";
@import "_howItWorks.scss";
@import "_miniFAQ.scss";
@import "_navbar.scss";
@import "_plans.scss";
@import "_servicePage.scss";
@import "_services.scss";

@import "_theyTrustUs.scss";
@import "_whyAmani.scss";
