/* TITRES AVEC PLAYFAIR DISPLAY */
h1,
h2,
h3 {
  font-family: "Playfair Display", serif !important;
  font-weight: 700 !important;
  color: #365b6d !important;
}

/* TEXTE GÉNÉRAL AVEC LORA */
p,
li,
a,
button {
  font-family: "Lora", serif !important;
  font-weight: 400 !important;
  font-size: 1.1rem !important;
  color: #444 !important;
}

/* BOUTONS ET LIENS EN MAJUSCULES POUR UN MEILLEUR IMPACT */
button,
a {
  text-transform: uppercase;
  font-weight: 500 !important;
}
/* Personnalise le menu déroulant Google Translate */
.goog-te-combo {
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #365b6d;
  background-color: #ffffff;
  color: #365b6d;
  font-family: "Lora", serif;
  cursor: pointer;
}

/* Supprime le logo Google en bas */
.goog-logo-link,
.goog-te-gadget span {
  display: none !important;
}
